.App {
  text-align: left;
}


.container {
  background-color: #0458ff; 
  /* display: grid;
  grid-template-columns: auto, auto, auto;
  gap: 20px; 
  align-items: start;  */
   
}


.container .bg-white{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.container .h6 text-uppercase{
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.container .h1{
  font-size: 3rem;
  margin: 0;
}
.container .h1 .text-small{
  font-size: 0.8rem;
}

.container .btn {
  width: 100%;
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

li {
text-align: left;
}

.App-link {
  color: #61dafb;
}


  .container .bg-white:hover .btn {
    opacity: 1;
  } 
